@media screen and (max-width: 1540px) {
  .sidebar {
    margin: 15px 15px 18px 15px;
  }
  .sidebar,
  .filter-clearbtn {
    max-width: 341px;
  }
  .filter-container {
    padding: 20px 23px;
  }
  .btn-name {
    margin: 0 91px;
  }
  .content-result,
  .search-line {
    margin: 0 15px 0 0;
  }
  .sidebar-close__title,
  .content-result__item {
    font-size: 16px;
  }
  .search-line form input {
    font-size: 16px;
    padding: 17px 0 17px 17px;
  }
  .search-line form img {
    right: 17px;
  }
  .catalog-grid__item {
    width: 480px;
    margin: 0px 14px 18px 0;
  }
  .catalog-grid__photo {
    height: 240px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 1358px) {
  .catalog-grid__item {
    width: 390px;
    margin: 0px 14px 18px 0;
  }
}

@media screen and (max-width: 1199px) {
  .catalog-grid__item {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .sidebar {
    display: none;
    position: absolute;
    max-width: 100%;
    width: 100%;
    z-index: 15;
    &-close {
      margin: 0 15px 13px 15px;
    }
  }
  .sidebar.active {
    display: block;
    margin: 0;
    background: #fff;
  }
  .filter {
    padding: 0 15px;
    &-clearbtn {
      width: 100%;
      max-width: 100%;
    }
  }
  .catalog-grid__item,
  .search-line,
  .content-result {
    margin: 0 14px 18px;
  }
}
@media screen and (max-width: 515px) {
  /* 515 і менше */
}
@media screen and (max-width: 320px) {
  /* 320 і менше */
}
